div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
p {
  font-size: 3em;
  font-weight: 200;
}
p span {
  font-weight: 600;
}
.button-group {
  display: inline;
  margin-top: 10px;
}
button {
  margin: 0 auto;
  width: 100px;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
}
button.start {
  background: green;
  margin-right: 5px;
}
button.stop {
  background: red;
  margin: 0 5px;
}
button.reset {
  background: #333;
  margin-left: 5px;
}